#app {
  padding-top: 80px;
  height: auto;
  .row {
    width: 100%;

    .col {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}


.the-app-header {
  margin-bottom: 55px;
  margin-top: 25px;
}

.the-app-cross {
  position: absolute;
  width: 750px;
  height: 400px;
  margin: auto;
  @include bp(small) {
    display: none;
  };

  .app-line-left, .app-line-right {
    margin: auto;
    position: absolute;
    height: 750px;
    width: 0;
    border: 1.5px solid $blueish;
    left: 50%;
    top: -50%;
    transform: translate(-50%, 0);
  }

  .app-line-left {
    transform: rotate(-60deg);
  }
  .app-line-right {
    transform: rotate(60deg);
  }
}


.phones {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  @include bp(small) {
  width: inherit;
  };

  .iphone-left-back, .iphone-middle-front, .iphone-right-back {
    width: 180px;
    @include bp(small) {
    width: 220px;
    };
  }
  .iphone-left-back {
    transform: translateX(80px);
    z-index: 1;
  }

  .iphone-middle-front {
    transform: translateY(-15px);
    z-index: 2;
  }

  .iphone-right-back {
    transform: translateX(-80px);
    z-index: 1;
  }

  .iphone-left-back, .iphone-right-back {
    @include bp(small) {
    display: none;
    };
  }
}

.the-app-text-buttons {
  margin-bottom: 25px;
  @include bp(small) {
    margin-bottom: 10px;
  };


.arrow-cta-text {
  display: flex;
  flex: row;
  align-items: flex-end;
  margin-bottom: 15px;
  transform: translateX(-152.5px) translateY(-8px);
  @include bp(small) {
  transform: translateX(0) translateY(0);
  justify-content: center;
  margin: 20px 0 20px;
  };

  p {
    height: 12px;
    font-size: 13px;
    color: $blueish;
    margin-bottom: 0;
    @include bp(small) {
    width: 240px;
    text-align: center;
    height: auto;
    };
  }

  .arrow {
    height: 45px;
    margin-bottom: -2px;
    margin-left: 5px;
    @include bp(small) {
    display: none;
    };
  }
}
}

.about-iplay {
  line-height: 1.2;
  font-size: 15px;
  width: 90%;
  padding-left: 20px;
  height: auto;
  text-align: left;
  line-height: 16px;
  margin-bottom: 35px;
  @include bp(small) {
    width: 80%;
    line-height: 2;
    text-align: center;
  };
}

.the-app-buttons {
  width: 392px;
  margin-right: 20px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include bp(small) {
    width: 342px;
    margin-right: 0;
  };

  button {
    margin-right: 0;
  }
}
