.mobile-nav {
  display: none!important;
  // background-color: $blackish;
  position: absolute;
  width: 100%;
  @include bp(small) {
    height: 65px;
    display: block!important;
    display: flex!important;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;


    .mobile-small-menu {
      background-color: $blackish;
      padding-top: 100px;
      height: 100vh;
      position: fixed;
      width: 200px;
      padding-left: 40px;
      top: 0;
      right: -220px;
      transition: all 0.5s ease-in-out;
    }

    .show-small-menu {
      right: 0;
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      z-index: 100;

      li {
        z-index: 100;
        a {
          color: white;
        }
        a:hover {
          text-decoration: none;
        }
      }
    }

    .logo-mobile {
      padding-left: 20px;
      flex: 1;
      img {
        width: 80px;
      }
    }

    .hamburger {
      padding-top: 10px;
      margin-right: 25px;
      z-index: 999;
    }

    li:after {
    	content: '';
    	display: block;
    	margin: auto;
    	height: 2px;
    	width: 0px;
    	background: transparent;
    	transition: width .3s ease, background-color .3s ease-in-out;
    }
    li:hover:after {
    	width: 100%;
    	background: $blueish;
    }
  };
}
