
.parallax {
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective:330px;
  perspective: 330px;
  -webkit-perspective-origin-x: 100%;
  perspective-origin-x: 100%;
  color: #fff;
}

.parallax__group {
  position: relative;
  height: 500px; /* fallback for older browsers */
  height: 125vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax__layer--back {
  margin: auto;
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
  background-image: url("/themes/IPLAY/assets/images/Bkgroundpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100vw;
  @include bp(small) {
    background-position: right;
  };
}
.parallax__layer--back-vectors {
  z-index: 6;
  -webkit-transform: translateZ(-200px) scale(2);
  transform: translateZ(-200px) scale(2);
  background-image: url("/themes/IPLAY/assets/images/vectooorz.svg");
  opacity: 0.15;
  background-color: rgba(#0a0000, 0.8);
  max-width: 100vw;
  height: 400vh;
  @include bp(small) {
    -webkit-transform: translateZ(-200px) scale(2);
    transform: translateZ(-200px) scale(2);
  };
}
