.hero {
  height: 100%;
  width: 100%;


  .col {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    width: 100%;
    // background-color: rgba(0, 0, 0, 0.64);
    @include bp(small) {
      padding-top: 30px;
    };

    .hero-line-left {
      top: 0;
      margin-top: -50px;
      left: 10;
      transform: translateX(-220px);
      position: absolute;
      z-index: 1;
      height: 110vh;
      width: 0;
      border: 1.5px solid $blueish;
    }
    .hero-line-right {
      top: 0;
      margin-top: -50px;
      left: 10;
      transform: translateX(-180px);
      position: absolute;
      z-index: 1;
      height: 500px;
      max-height: 850px;
      width: 0;
      border: 1.5px solid $blueish;
    }

    .hero-line-left, .hero-line-right {
      @include bp(small) {
        display:none;
      }
    }

    .iphone {
      width: 220px;
      position: absolute;
      right: 0;
      transform: translateX(-80px) translateY(90px);
      bottom: 0;
      z-index: 10;
      @include bp(small) {
        width: 200px;
        left: 50%;
         top: 90%;
      transform: translate(-50%, -50%);
      };
    }
  }

  .embed-container.video {
    width: 800px;
    height: 450px;
    z-index: 1;
    transition: 2s all ease-in-out;
    @include bp(small) {
      width: 100vw;
      height: 230px;
    }

    iframe {
      width: 100%;
      height: 100%;
    }

  }

  .hero-text-cta {
    padding-left: 70px;
    transform: translateY(-200px);
    width: 100%;
    text-align: left;
    z-index: 10;
    @include bp(small) {
      padding-left: 0;
      transform: translateY(-45px);
    };

    .hero-header {
      text-align: left;
    }

    .sub-header {
      width: 250px;
    }

    .line {
      width: 371px;
      height: 0;
      margin-left: -200px;
      border: 1.5px solid $blueish;
      @include bp(small) {
        width: 351px;
      };
    }

    h1
    {
      font-weight: bold;
      color: $blueish;
      @include bp(small) {
        font-size: 35px;
      };

      .purple-hero {
        color: $dark-grape;
        text-shadow: 2px 2px 0 $blueish;
      }
    }

    p {
      text-transform: uppercase;
      font-size: 12px;
    }

    .explore {
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 10px;
      padding-left: 100px;
      @include bp(small) {
        display: none;
      };
    }

  }
}

.explore {
  animation-name: explore;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes explore {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
