// This is where all colors we use are declared

// TEAL
$light-teal: #99D0DF;
$normal-teal: #4A9BAD;
$dark-teal: #085F7A;

// TURQCOISE
$light-turqcoise: #CAF2E7;
$normal-turqcoise: #A7E7DB;
$dark-turqcoise: #71D6C6;

// GRAPE
$light-grape: #A8B1EA;
$normal-grape: #8278EB;
$dark-grape: #6B45EA;
$grape: #9B72FC;

// GREEN
$normal-green: #45E78E;

// New colors
$blueish: #75D5C6;
