// This is where all fonts we use are declared

h1 {
  text-transform: uppercase;
}

.section-header-text {
  text-align: center;
  color: #75D5C6;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 2px 2px 0 #815ECE;
}
