#cta {
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
}

.cta-header-and-tagline {
  margin: auto;
  margin-bottom: 50px;
  @include bp(small) {
    width: 80vw;
    margin-bottom: 0;
  }
  p {
    margin: auto;
    text-align: center;
  }
  .cta-header {
    margin: 0 auto;
  }
}

.content-cta {
  margin-top: 50px;
  height: 60vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include bp(small) {
    margin-top: 10px;
  };

.line-cta-left, .line-cta-right {
  height: 0;
  width: 600px;
  border: 1.5px solid $blueish;
  position: absolute;
  z-index: 1;
}
.line-cta-left {
  transform: translateX(-450px) translateY(100px) rotate(25deg);
  transform-origin: right;
}
.line-cta-right {
  transform: translateX(400px) rotate(-25deg);
  transform-origin: left;
}
  .cta-iphone {
    width: 180px;
    position: absolute;
    transform: translateY(30px);
    z-index: 4;
    @include bp(small) {
      transform: translateY(0);
      width: 220px;
      margin-top: 35px;
    }
  }

  .triangle {
    z-index: 3;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 200px;
    border-left-width: 200px;
    border-bottom: 400px solid $blueish;
    margin-bottom: 80px;
    margin-top: 25px;

  }

  .triangle-small {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 200px;
    border-left-width: 200px;
    border-bottom: 400px solid $blackish;
    transform: translate(-200px, 1.5px) scale(0.980);
  }

  .triangle, .triangle-small, .line-cta-left, .line-cta-right {
    @include bp(small) {
      display: none;
    };
  }

  .cta-buttons {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translate(11.5px, 25px);

    @include bp(small) {
      width: 342px;
      transform: translate(-5px, 315px);
    };

    button {
      @include bp(small) {
        width: 150px;
        margin-right: 0;

      };
    }
  }
}
