.header-super  {
  text-align: center;
  width: 300px;
  margin: auto;
  @include bp(small) {
    margin-top: 250px;
  };

  p {
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    padding-left: 50px;
    margin-bottom: 0;
  }
}

.content-super {
  z-index: 10;
  position: relative;

  .superusers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 60vw;
    @include bp(small) {
      flex-direction: column-reverse;
      height: 80vh;
      width: 90vw;
    };
    // border: 1px solid #fff;

    .athletes-images {
      position: relative;
      height: 250px;
      width: 300px;
      @include bp(small) {
        transform: translate(-50%, -50%);
        top: 20%;
        left: 50%;

      };



      .skew-img {
        border: 2px solid #75D5C6;
        position: absolute;
        width: 190px;
        height: 210px;
        top: 0;
        left: 0;
        transform: skewX(-7.5deg);
        transition: all 500ms ease;
        overflow: hidden;


      .image-super {
        background-position: center;
        background-size: cover;
        margin-left: -15px;
        transform: skewX(7.5deg);
        width: 220px;
        height: 210px;

      }

        &:nth-child(1) {
          opacity: 1;
          transform: translate(0, 0) skewX(-7.5deg);
          z-index: 3;
        }

        &:nth-child(2) {
          opacity: 0.7;
          transform: translate(15%, 8%) skewX(-7.5deg);
          z-index: 2;
        }

        &:nth-child(3) {
          opacity: 0.2;
          transform: translate(30%, 16%) skewX(-7.5deg);
          z-index: 1;
        }
      }
    }
    .super-text-and-cta {

      height: 250px;
      width: 300px;
      // border: 1px solid #fff;

      .cta-super, .athletes-info-text {
        display: flex;
        justify-content: flex-end;

      }

      .cta-super {
        padding-bottom: 20px;
        height: 50%;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 20px;
        @include bp(small) {
          margin-top: 40px;
          align-items: center;
          padding: 0;
        };

        button {
          @include bp(small) {
          width: 200px;
          text-align: center;
          margin: auto;
          font-size: 15px;
          };
        }

        p {
          margin-bottom: 0;
          width: 175px;
          font-size: 15px;
          background-color: black;
          @include bp(small) {
          width: 230px;
          text-align: center;
          margin-bottom: 10px;
          };
        }
      }
    .athletes-info-text {
      display: flex;
      justify-content: flex-end;
      position: relative;
      width: 100%;
      height: 50%;
      @include bp(small) {
        justify-content: center;
        height: 30%;
      };


      .athlete-text {
        padding-right: 10px;
        text-align: right;
        position: absolute;
        opacity: 0;
        transform: translateX(-100px);
        transition: all 500ms ease-out;
        @include bp(small) {
          text-align: center;
          transform: translateY(50px);
        };

        .athletes-name, .athletes-club {
          text-transform: uppercase;
        }

        .athletes-club{
          font-size: 15px;
        }


        &:nth-child(1) {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  }
}
.line-super {
  height: auto;
  width: 120vw;
  transform: translateY(-500px) translateX(-300px);
  position: absolute;
  z-index: 1;
  @include bp(small) {
    display: none;

  };

}
