.why-content {
  height: 60vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .logo-why-section {
    border: 2px solid #75D5C6;
    width: 210px;
    height: 240px;
    transform: skewX(-7.5deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blackish;
    z-index: 10;

    img {
      width: 180px;
      margin: auto;
    }
  }

  p {
    font-size: 14px;
    width: 220px;
    margin-bottom: 0;
    color: #75D5C6;

  }

// ALL
.social-media, .communication, .team, .stakeholders {
  border-bottom: 2px solid #75D5C6;
  height: 80px;
  display: flex;
  align-items: flex-end;
}

// LEFT
  .left-social-com {
    transform: translate(20px, 0);
    width: 400px;
    height: 300px;
    text-align: left;
    justify-content: flex-start;

    .social-media, .communication {
      padding-right: 80px;
    }
    .communication {
      margin-top: 20px;
      transform: translateY(120px);
      border-right: 2px solid #75D5C6;
    }
  }

// RIGHT
  .right-team-stakeholders {
    width: 400px;
    height: 200px;
    transform: translateX(-45px);
    text-align: right;


    .team{
      transform: translate(0, 30px);
      z-index: 1;
      justify-content: flex-end;
      padding-left: 50px;
    }
    .stakeholders{
      height: 100px;
      margin-top: 20px;
      transform: translate(0, 80px);
      border-left: 2px solid #75D5C6;
      justify-content: flex-end;
      padding-left: 80px;

    }
  }
}
